---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import Button from "../components/Button.astro";
import devguy from "../images/developer-guy.png";

//import ralf from "../images/Ralf.png";
---

<Layout title='Startseite' description='Willkommen auf meiner Webseite'>
  <div class='flex flex-row justify-between items-center'>
    <div class='w-1/2 flex justify-center items-center py-10'>
      <Image
        src={devguy}
        width={1200}
        height={1100}
        quality={80}
        format='webp'
        alt='Alter Dev'
      />
    </div>
    <div class='w-1/2 flex flex-col justify-between items-start'>
      <div class='text-6xl mb-4'>
        Visionen mit<br />
        Code und <span
          id='dynamic-header-text'
          class='text-blue-700 dark:text-green-400'>Design</span
        >
        <br />
        zum Leben erwecken
      </div>
      <div class='mb-6 leading-relaxed'>
        Du wolltest schon immer wissen wie Du eine Website programierst? Ich
        zeige Dir in zahlreichen Tutorials wie Du das mit HTML, CSS und
        JavaScript am besten machst.
      </div>
      <div class='flex items-center'>
        <Button
          url='https://www.facebook.com/ralf.vogel.7'
          title='Tutorials'
          external={true}
        />
        <a
          href='mailto:ralf@ravo-it.de'
          class='ml-8 font-medium text-dark dark:text-light underline'
          >Kontakt</a
        >
      </div>
    </div>
  </div>
</Layout>
