---
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---

<NavigationSocialIcon
  icon='logos:twitter'
  url='https://twitter.com/RalfRheinberg'
  title='Folge mir auf Twitter'
/>

<NavigationSocialIcon
  icon='logos:facebook'
  url='https://www.facebook.com/ralf.vogel.7'
  title='Folge mir auf Facebook'
/>

<NavigationSocialIcon
  icon='logos:linkedin-icon'
  url='https://www.linkedin.com/in/ralf-vogel-a6b437108/'
  title='Folge mir auf Linkedin'
/>

<NavigationSocialIcon
  icon='mdi:github'
  url='https://github.com/RalfVogel'
  title='Folge mir auf Github'
/>

<NavigationSocialIcon
  icon='mdi:alternate-email'
  url='mailto:ralf@ravo-it.de'
  title='Schreibe mir eine E-Mail'
  target='_self'
/>

<NavigationSocialIcon
  icon='ph:coffee-fill'
  url='https://paypal.me/RalfVogel1964?country.x=DE&locale.x=de_DE'
  title='Gib mir einen Kaffee aus'
  css='text-amber-800'
/>

<div id='colorSwitch' class='hover:cursor-pointer bg-dark rounded-full p-1'>
  <img src='/icons/moon.svg' alt='moon' class='w-6 h-6' />
</div>
